/* Dropdown arrow styling */
.arrow:after {
    content: "\25bc";
    position: absolute;
    top: 0;
    /* display: inline; */
}

.arrow:hover,
.closePopup {
    cursor: pointer;
}

/* Add Note button */
Button:after {
    content: "\271A";
    color: #22303c;
}

/* Notes styling */
.notes-div {
    background-color: #22303c;
}

/* Completed styling */
.notes-div.is-complete .note-body {
    text-decoration: line-through;
}

/* Wraps note content if its too long */
.note-body {
    overflow-wrap: break-word;
}