.threedots:after {
    /* content: "\2807"; */
    content: "\25bc";
    position: absolute;
    left: 0;
    bottom: 0;
}

.threedots:hover,
.closePopup {
    cursor: pointer;
}

/* Add Note button */
Button:after {
    content: "\271A";
    color: #22303c;
}


.notes-div {
    background-color: #22303c;
    /* display: flex; */
}

.notes-div:hover {
    opacity: 0.8;
}

.notes-div.is-complete .note-body {
    text-decoration: line-through;
}

.notes-div .delete-note {
    /* position: absolute; */
    /* right: 16px; */
    /* transform: translateY(-50%); */
    background-color: red;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}